html, body, #root {
  height: 100% !important;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@page {
  size: A4;
  /* margin: 35px; */
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
  }
  .print-no-cut {
    break-inside: avoid !important;
  }
}